apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
  labels:
    type: dev-depl
    svcname: auth-svc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: quay.io/ultimatestack/auth-svc:v1-beta
          env:
            - name: AUTH_MONGO_DB_URI
              value: 'mongodb://auth-mongo-srv:27017/auth'
            - name: JWTSECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: auth
      protocol: TCP
      port: 4000
      targetPort: 4000
