apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-depl
  labels:
    type: dev-depl
    svcname: payment-svc
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
      version: v1
  template:
    metadata:
      labels:
        app: payments
        version: v1
    spec:
      containers:
        - name: payments
          image: quay.io/ultimatestack/payment-svc:v1.1-beta
          imagePullPolicy: Always
          ports:
            - containerPort: 4004
          env:
            - name: NATS_CLIENT_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NATS_URL
              value: 'http://nats-srv:4222'
            - name: NATS_CLUSTER_ID
              value: ticketing
            - name: PAYMENTS_MONGO_DB_URI
              value: 'mongodb://payments-mongo-srv:27017/payments'
            - name: JWTSECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY
            - name: STRIPE_KEY
              valueFrom:
                secretKeyRef:
                  name: stripe-secret
                  key: STRIPE_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: payments-srv
  labels:
    app: payments
    service: payments
spec:
  selector:
    app: payments
  ports:
    - name: http-payments
      protocol: TCP
      port: 4004
      targetPort: 4004
  # type: LoadBalancer
  type: ClusterIP
